@mixin textOverFlowHidden($lineClamp) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lineClamp;
  -webkit-box-orient: vertical;
}
%hisRoad {
  //這個是裝雪碧圖原圖的extend，因為每張切圖都需要以原圖為基準去切
  cursor: pointer;
  background-image: $historyRoad-spriteImg;
}
@mixin hisRoadSpritePosition($x, $y, $scale) {
  $WIDTH: (100 * $scale);
  $HEIGHT: (100 * $scale);
  $POSITIONX: ($x * $scale);
  $POSITIONY: ($y * $scale);
  $BGSIZEX: (1600 * $WIDTH/100);
  width: $WIDTH + px;
  height: $HEIGHT + px;
  background-position: $POSITIONX + px $POSITIONY + px;
  background-size: $BGSIZEX + px auto;
}
